body{
  background-color: var(--light);
}

#loading-image {
  left: 55%;  
  top: 50%;
  height: 30vh;
  position: absolute;
  z-index: 99;
}

#loading {
  width: 100%;
  height: 100vh;
  background-color: var(--light);
  z-index: 98;
  
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#wrapper #content-wrapper #content {
  height: 100%;
  min-height: 100vh;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background-color: var(--white);
}

#peserta-footer{
  margin-top: auto;
}

.loading-image {
  width: 10vh;
}

.loading-button {
  width: 3vh;
}

.tombol {
  cursor: pointer;
}

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90, 92, 105, 0.5);
    line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
}

.scroll-to-top:hover {
    background: #5a5c69;
}

.scroll-to-top i {
    font-weight: 800;
}

@-webkit-keyframes growIn {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes growIn {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .animated--grow-in, .sidebar .nav-item .collapse {
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
    animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animated--fade-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-timing-function: opacity cubic-bezier(0, 1, 0.4, 1);
    animation-timing-function: opacity cubic-bezier(0, 1, 0.4, 1);
  }
  
  .card .card-header[data-toggle="collapse"] {
    text-decoration: none;
    position: relative;
    padding: 0.75rem 3.25rem 0.75rem 1.25rem;
  }
  
  .card .card-header[data-toggle="collapse"]::after {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 1.725rem;
    line-height: 51px;
    font-weight: 900;
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    color: #d1d3e2;
  }
  
  .card .card-header[data-toggle="collapse"].collapsed {
    border-radius: 0.35rem;
  }
  
  .card .card-header[data-toggle="collapse"].collapsed::after {
    content: '\f105';
  }

  